* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #ececec;
    color: #412c2f;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 840px;
    margin: 0 auto;
    background-color: white;
}

.header {
    background-color: #412c2f;
    height: 150px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: block;
    margin-bottom: -155px;
}

.profile-avatar {
    border: 20px solid white;
    border-radius: 50%;
    margin-right: -50px;
    z-index: 2;
}

.avatar {
    width: 175px;
    border-radius: 50%;
    margin-bottom: -3.5px;
}

.profile-intro {
    background-color: white;
    padding: 0 70px 0 90px;
    z-index: 1;
}

.profile-intro h1 {
    font-size: 40px;
    text-transform: uppercase;
}

a.profile-description {
    display: block;
    background-color: #412c2f;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.profile-description {
    margin: 10px 0;
    text-align: center;
}

.sidebar,
.main {
    padding: 150px 20px 0 20px;
    display: inline-block;
}

.sidebar {
    width: 37%;
}

.profile-item {
    margin-bottom: 50px;
}

.profile-item h2 {
    text-transform: uppercase;
    border: 5px solid #d45f5e;
    border-radius: 20px;
    padding: 3px 0 3px 20px;
    background: rgb(243, 212, 205);
    background: linear-gradient( 180deg, rgba(243, 212, 205, 1) 0%, rgba(243, 212, 205, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.profile-item p {
    font-size: 1.1em;
    margin-top: 15px;
    padding: 0 20px;
}

.main,
.profile-item p span {
    float: right;
}

.main {
    width: 63%;
}